### 검색어1 : 상품을 구매한 방문자가 검색창에 입력한 검색어의 검색량
- 검색을 했다는 건 수요가 어느정도 있다는 얘기 아닐까?
- 검색횟수가 많다 = 수요가 크다...?

In [1]:
sch1 = pd.read_csv("../../data/02_Search1.csv")
sch1.tail()

         CLNT_ID  SESS_ID  KWD_NM  SEARCH_CNT
2884938  6391796  1822515     일자핏           1
2884939  6391796  1822515  화이트티셔츠           1
2884940  6391796   764020      양말           6
2884941  6391796  1822515      어항           2
2884942  6391931  1568433  블랙야크키즈           1

In [3]:
sch1[sch1.CLNT_ID==6391796]

         CLNT_ID  SESS_ID  KWD_NM  SEARCH_CNT
2884937  6391796  1521999   여성슬립온           5
2884938  6391796  1822515     일자핏           1
2884939  6391796  1822515  화이트티셔츠           1
2884940  6391796   764020      양말           6
2884941  6391796  1822515      어항           2

### 궁금증
- product에서 보면 'CLNT_ID==6391796'은 쥬얼리, 악세사리, 코트..등등을 샀는데, 검색어엔 하나도 안들어가있네?
    - 검색을 안하고 뭔가(예를들면 best item)를 보고 눌러서 장바구니에 넣고 구매했다...?
- 여성슬립온의 경우 페이퍼플레인을 구매한 data가 있다.
- **결국 검색이 구매로 이어진 경우와 그렇지 않고 UX적으로 눈에 띈 제품을 산 경우로 나눠서 볼 수 있을까?**
- **수요는 있었지만 마땅한 공급이 없었던 경우(양말) vs 공급이 잠재적 수요를 끌어낸 경우(슬립온)**

---

In [ ]:
#