### 검색어2 : 분석데이터 기간(18.04~18.09) 내 일별/검색어별 검색량

In [1]:
sch2 = pd.read_csv("../../data/03_Search2.csv")
sch2.tail()

          SESS_DT       KWD_NM SEARCH_CNT
8051167  20180912       stl수영복          3
8051168  20180912      supreme          2
8051169  20180912  tsdjpi82010         17
8051170  20180912        zen정장         12
8051171  20180912       가죽 슬립온          1

In [7]:
sch2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8051172 entries, 0 to 8051171
Data columns (total 3 columns):
SESS_DT       int64
KWD_NM        object
SEARCH_CNT    object
dtypes: int64(1), object(2)
memory usage: 184.3+ MB

In [11]:
# SEARCH_CNT의 데이터 타입 변경
# 데이터 내 ','제거 후 integer 변환
sch2['SEARCH_CNT_int'] = sch2['SEARCH_CNT'].map(lambda x : int("".join(x.split(','))) if ',' in x else int(x))
sch2.tail()

          SESS_DT       KWD_NM SEARCH_CNT  SEARCH_CNT_int
8051167  20180912       stl수영복          3               3
8051168  20180912      supreme          2               2
8051169  20180912  tsdjpi82010         17              17
8051170  20180912        zen정장         12              12
8051171  20180912       가죽 슬립온          1               1

### 궁금증
- 4~9월 사이의 data인데, tsdjpi82010(롱패딩)은 왜 검색한거지? 세일했나? 역시즌 할인행사?

In [12]:
sch2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8051172 entries, 0 to 8051171
Data columns (total 4 columns):
SESS_DT           int64
KWD_NM            object
SEARCH_CNT        object
SEARCH_CNT_int    int64
dtypes: int64(2), object(2)
memory usage: 245.7+ MB

In [19]:
pd.options.display.float_format = '{:.2f}'.format
sch2['SEARCH_CNT_int'].describe()

count   8051172.00
mean          8.35
std          29.36
min           1.00
25%           1.00
50%           3.00
75%           6.00
max        5043.00
Name: SEARCH_CNT_int, dtype: float64

In [16]:
sch2[sch2.SEARCH_CNT_int==5043]

         SESS_DT    KWD_NM SEARCH_CNT  SEARCH_CNT_int
544491  20180521  조르지오아르마니      5,043            5043

In [24]:
for i in sch2.columns:
    print("colum : {}, unique count : {}".format(i,sch2[i].nunique()))
    print(sch2[i].unique())

colum : SESS_DT, unique count : 183
[20180407 20180402 20180414 20180415 20180420 20180406 20180403 20180405
 20180721 20180410 20180417 20180426 20180430 20180421 20180411 20180412
 20180925 20180926 20180401 20180422 20180911 20180912 20180423 20180501
 20180408 20180419 20180928 20180416 20180409 20180929 20180927 20180913
 20180915 20180418 20180404 20180916 20180919 20180413 20180910 20180920
 20180921 20180427 20180716 20180722 20180717 20180718 20180428 20180424
 20180922 20180914 20180923 20180924 20180930 20180907 20180425 20180715
 20180918 20180917 20180723 20180719 20180429 20180531 20180705 20180720
 20180612 20180901 20180704 20180601 20180902 20180502 20180903 20180706
 20180613 20180905 20180904 20180906 20180908 20180909 20180707 20180725
 20180603 20180604 20180605 20180730 20180503 20180805 20180804 20180828
 20180808 20180504 20180826 20180606 20180629 20180630 20180823 20180824
 20180729 20180810 20180821 20180711 20180712 20180827 20180505 20180727
 20180728 20180807 20180510 20180511 20180806 20180710 20180822 20180703
 20180830 20180829 20180614 20180825 20180814 20180813 20180623 20180520
 20180708 20180521 20180713 20180618 20180616 20180809 20180507 20180811
 20180607 20180615 20180509 20180608 20180508 20180812 20180619 20180522
 20180831 20180624 20180816 20180523 20180506 20180714 20180726 20180701
 20180617 20180611 20180602 20180815 20180817 20180627 20180731 20180724
 20180819 20180818 20180525 20180512 20180524 20180626 20180620 20180609
 20180610 20180513 20180526 20180527 20180625 20180709 20180628 20180621
 20180802 20180801 20180820 20180515 20180517 20180803 20180528 20180514
 20180529 20180622 20180702 20180518 20180519 20180530 20180516]
colum : KWD_NM, unique count : 84607
['닥스원피스' '닥터지 브라이트닝' '달팡 인트랄' ... 'silicone' '첨이첨이아동양면내복' 'daks kids']
colum : SEARCH_CNT, unique count : 1436
['8' '1' '2' ... '1,604' '980' '1,381']
colum : SEARCH_CNT_int, unique count : 1436
[   8    1    2 ... 1604  980 1381]

### 궁금증
- 닥스=daks, 검색어(KWD_NM)의 중복이 있을 것으로 보인다...(한국어-영어 동일어)
- 일별로 검색키워드의 변화를 볼 수 있지 않을까?
- 공공데이터와 어떻게 연관지을수 있을까? 날이 더워지면, 반팔티의 검색량이 증가하나?